.container{
    background-color: rgb(207, 255, 205);
    justify-content: center;
}

#nav {
    background-color: #141414;
}

#sobreNosotros {
    background-color: #141414;
    color: white;
}

/* #sobreNosotros:hover {
    background-color: ;
} */

#loading-message {
    display: none;
  }