@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@font-face {
    font-family: Futura;
    src: url(recursos/Futura\ Heavy\ font.ttf);
  }

#descMipip {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

#descPasos {
    display: flex;
    flex-direction: row; 
}

#subDescPasos {
    display: flex;
    flex-direction: column; 
    max-width: 450px;
}

.paso {
    display: flex;
    flex-direction: row;
}

#paso {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.descPaso {
    margin-bottom: 13px;
}

#tituloMipip {
    color: black;
    font-size: 40px;
    font-family: Futura;
    z-index: 9999;
}

#punteo {
    margin-left: 20px;
}

#volverInicio {
    cursor: pointer;
    z-index: 9999;
    width: 120px;
}

#popupBtn {
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

#closeBtn {
    width: 200px;
    align-self: center;
}

.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

#svgPasos {
    transform: translate(0, -5px);     
    max-height: 700px; 
    position: absolute;
    top: 12%;
    left: 10%;
}

.cls-pasos-2 {
    cursor: pointer;
}

.cls-pasos-1 {
    cursor: pointer;
}

.contenedorPasos {
    width: 400px;
    margin: 10px;
    margin-left: 10px;
}

#paso1 {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 30%;
    height: 800px;
    width: 400px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(224, 96, 126, 0.8);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

#paso2 {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 30%;
    height: 800px;
    width: 400px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 230, 109, 0.8);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

#descColab {
    display: none;
}

#descElab {
    display: none;
}

#descValid {
    display: none;
}

#Capa_1 {
    transform: translate(0, -5px);     
    max-width: 800px;    
    margin-right: 0px;     
}

#flecha_colab {
    opacity: 0%;
    cursor: pointer;
}

#flecha_elab {
    opacity: 0%;
    cursor: pointer;
}

#flecha_valid {
    opacity: 0%;
    cursor: pointer;
}

#flecha_colab:hover {
    opacity: 100%;
}

#flecha_elab:hover {
    opacity: 100%;
}

#flecha_valid:hover{
    opacity: 100%;
}

#VALID_text {
    cursor: pointer;
}


#COLAB_text {
    cursor: pointer;
}



#COLAB_text {
    cursor: pointer;
}

#infoDiv_colab {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#infoDiv_elab {
    width: 100%;
    height: 100%;
    margin: 100px;
    margin-top: 50px;
}

#infoDiv_valid {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

#backButtonColab:hover {
    background-color: #48C78E;
}

#backButtonElab:hover {
    background-color: #48C78E;
}

#backButtonValid:hover {
    background-color: #48C78E;
}

.titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.caja_titulo {
    justify-self: center;
    
}

.divVacio {
    width: 115.81px;
}


#verMas1 {
    margin-left: 100px;
    cursor: pointer;
}

#verMas2 {
    cursor: pointer;
}

#verMas3 {
    cursor: pointer;
}

#herramienta {
    cursor: pointer;
}

#flechaElab {
    cursor: pointer;
}

.botonVerMas {
    border-radius: 0 0 10px 10px;
    margin: 0 -5px -5px -5px;
    color: black;
    cursor: pointer;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

#verMas3:hover {
    background-color: #48C78E;
}

#herramienta:hover {
    filter: drop-shadow(0 0 0.3rem #646cffaa);
}

#verMas1:hover {
    filter: drop-shadow(0 0 0.3rem #646cffaa);
}
#verMas2:hover {
    filter: drop-shadow(0 0 0.3rem #646cffaa);
}
#verMas3:hover {
    filter: drop-shadow(0 0 0.3rem #646cffaa);
}
#flechaElab:hover {
    filter: drop-shadow(0 0 0.3rem #646cffaa);
}

#bajadaColab {
    width: 1200px;
}

.svgParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagramaColab {
    min-width: 800px;
    max-width: 1300px;
    transform: translate(0, -5px); 
}

.diagramaElab {
    min-width: 1500px;
    max-width: 1500px;
    transform: translate(0, -5px); 
}

.contenedorRoles {
    display: flex;
    justify-content: space-evenly;
}

.roles {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 470px;
    display: flex;
    flex-direction: column;
}

.tituloRol {
    text-align: center;
    margin: 5px;
    font-size: medium;
}

.logoRol {
    height: 80px;
    position: relative;
    bottom: 80px;
    right: 130px;
    margin-bottom: -70px;
}

.contenidoRol {
    margin-left: 10px;
}

#loading-message {
    display: none;
  }

.parentParrafoDesc {
    display: flex;
    justify-content: center;
}

#infoItem3 {
    flex-wrap: wrap;
}

.parrafoDesc {
    padding: 20px;
    width: 800px;
    height: fit-content;
    min-height: 215px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin: 10px;
}

#tituloPrio{
    width: fit-content;
    height: 50px;
    font-size: large;
    margin: 10px;
    padding: 20px;
}
  


/* VALIDACION */

.contenedorValid {
    display: flex;
    flex-direction: column;
}

.tiposValid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
}

.tituloYdesc {
    display: flex;
    flex-direction: column;
}

.graficaValid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 100px;
}

.tituloTipo {
    font-size: 22px;
    color: black;
    margin: 100px;
    margin-right: 0;
    width: fit-content;
}

.descripcionValid {
    font-size: larger;
    margin-left: 100px;
    width: 400px;
    
}

#diagramaValid {
    max-width: 900px;
}

#diagramaValid2 {
    max-width: 900px;
    margin-left: 50px;
}

#validExpertos {
    background-color: #6ca6c153;
}

#botonComo {
    cursor: pointer;
}

#AOP {
    color: #48C78E;;
}